* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
}

body {
  font-family: 'Lora', serif;
  font-size: 13px;
  letter-spacing: .02em;
  overflow-x: hidden;
}

.section {
  padding-top: 130px !important;
  padding-bottom: 70px !important;
  position: relative!important;
  width: 100%!important;
}

.section-content {
  vertical-align: middle;
  z-index: 10;
}
