<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">

      <a class="navbar-brand" href="{{url_for('showCatalog')}}">
        <img class="img" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"  height="50" width="50">
		
      </a>
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
        Log In
        </button>
      </a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
        Logout
        </button>
      </a>
      {% endif %}
       <a  href="{{url_for('showCatalog')}}">
       <h4 style="text-align:center">ITEM CATALOG APP</h4>
	   </a>
      

      {% if 'username' not in session %}
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('addItem')}}">Add Item</a></li>
        <li><a href="{{url_for('addCategory')}}">Add Category</a></li>
      </ul>
      {% endif %}
  </div><!-- /.container-fluid -->
</nav>